.sport_tournament111:before {
    background-position: 0 -8880px
    }
.sport_tournament222:before {
    background-position: 0 -8904px
    }
.sport_tournament48686:before {
    background-position: 0 -8928px
    }.sport_tournament111:before {
    background-position: 0 -8880px
    }
.sport_tournament222:before {
    background-position: 0 -8904px
    }
.sport_tournament48686:before {
    background-position: 0 -8928px
    }.sport_tournament111:before {
    background-position: 0 -8880px
    }
.sport_tournament222:before {
    background-position: 0 -8904px
    }
.sport_tournament48686:before {
    background-position: 0 -8928px
    }.sport_tournament111:before {
    background-position: 0 -8880px
    }
.sport_tournament222:before {
    background-position: 0 -8904px
    }
.sport_tournament48686:before {
    background-position: 0 -8928px
    }.sport_tournament111:before {
    background-position: 0 -8880px
    }
.sport_tournament222:before {
    background-position: 0 -8904px
    }
.sport_tournament48686:before {
    background-position: 0 -8928px
    }
.sport_tournament966577:before {
    background-position: 0 -8952px
    }.sport_tournament111:before {
    background-position: 0 -8880px
    }
.sport_tournament222:before {
    background-position: 0 -8904px
    }
.sport_tournament48686:before {
    background-position: 0 -8928px
    }
.sport_tournament966577:before {
    background-position: 0 -8952px
    }.sport_tournament111:before {
    background-position: 0 -264px
    }
.sport_tournament11113222:before {
    background-position: 0 -288px
    }
.sport_tournament222:before {
    background-position: 0 -312px
    }
.sport_tournament456785645:before {
    background-position: 0 -336px
    }
.sport_tournament48686:before {
    background-position: 0 -360px
    }
.sport_tournament888888:before {
    background-position: 0 -384px
    }
.sport_tournament966577:before {
    background-position: 0 -408px
    }.sport_tournament111:before {
    background-position: 0 -264px
    }
.sport_tournament11113222:before {
    background-position: 0 -288px
    }
.sport_tournament222:before {
    background-position: 0 -312px
    }
.sport_tournament456785645:before {
    background-position: 0 -336px
    }
.sport_tournament48686:before {
    background-position: 0 -360px
    }
.sport_tournament888888:before {
    background-position: 0 -384px
    }
.sport_tournament966577:before {
    background-position: 0 -408px
    }